body,html {
    background: #f2f2f2;
    background: linear-gradient(#fefeff, #eaedf3);    
}

/************************/
/* NEW TICKET AS PUBLIC */
body > div.row.collapse > div.medium-9.large-10.columns.medium-centered.large-centered{
    background: white;
    box-shadow: rgba(158, 163, 172, 0.3) 0px 19px 60px, rgba(158, 163, 172, 0.22) 0px 15px 20px;
    border-radius: 2px;
    
	margin: 20px auto 10px auto;
    width: 95%;
    max-width: 600px;
}

body > div.row.collapse > div.medium-9.large-10.columns.medium-centered.large-centered > .row > div.medium-9.columns{
    width: 100%;
	
}

#new_ticket h3{
    text-align: center;
    margin: 50px 0 30px 0;
    font-size: 37px;
    text-transform: uppercase;
}

select { outline: none; }

#new_ticket input[type="submit"]{
    width: 100%;
}

#new_ticket div.panel.mb.ptl.pbl.mbxl{
    background: inherit;
}

#new_ticket trix-editor{
    border: 1px solid #ddd;
    border-radius: 0;
}
#new_ticket trix-editor:focus{
    background: #fafafa;
    border-color: #999999;
}

/****************/
/* LOGIN SCREEN */

/* remove links */
#new_user p.text-s.no-mb.text-center.mtl a:nth-child(5), #new_user p.text-s.no-mb.text-center.mtl span:nth-child(4){
    display: none;    
}

/* change title */
body > div.row.collapse > div.medium-9.large-10.columns.medium-centered.large-centered > div.row.mt.ptxxl > 
div.medium-8.large-6.columns.medium-centered > h2.text-center.mbxl strong{
    display: none;
}
body > div.row.collapse > div.medium-9.large-10.columns.medium-centered.large-centered > div.row.mt.ptxxl > 
div.medium-8.large-6.columns.medium-centered > h2.text-center.mbxl:before{
    content: "TICKETS"
}

/* Login screen username and password container */
@media only screen and (min-width: 64.0625em) {
    body > div.row.collapse > div.medium-9.large-10.columns.medium-centered.large-centered > .row.mt.ptxxl > div.medium-8.large-6.columns.medium-centered {
        width: 75%;
    }
}
/* Recover Password */
@media only screen and (min-width: 64.0625em) {
    body > div.row.collapse > div.medium-9.large-10.columns.medium-centered.large-centered > .row.mt > .medium-8.large-6.columns.medium-centered{
        margin: 10px auto;
        width: 75%;
    }
}


/**************?
/* Fix UI MENU BUG */
body{height: initial; min-height: 100%;}
